/* Viewer customizations */
:root {
  --reader-bg: #F8F1E3;
}
.reader .pdfViewer .page, .reader .thumbnailImage {
  background-color: var(--reader-bg) !important;
}
.invert .pdfViewer, .invert .thumbnailImage, .colorSwatch.invert {
  filter: invert(86%);
}
.pdfViewer .textLayer > span {
  -webkit-text-size-adjust: none;      /* bug-fix */
}

/* Widgets */
.colorSwatch {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  border: 0.5px solid var(--field-border-color);
  background-color: var(--reader-bg);
  margin: 4px;
  cursor: pointer;
}
#origTone + .colorSwatch, #invertTone + .colorSwatch {
  color: #000000;
  background-color: #ffffff;
}

.maskIcon::before, :checked + .colorSwatch::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  margin-top: 4px;
  vertical-align: top;
  background-color: currentcolor;
  -webkit-mask-size: cover;
  mask-size: cover;
}

/* Toolbar layout */
#readerToolbar {
  right: 189px;
  z-index: 20000;
  font-size: 0;
  background-color: var(--toolbar-bg-color);
  -webkit-user-select: none;
  user-select: none;
}
#readerToolbar::after {
  border-bottom-color: var(--toolbar-bg-color);
}
#readerToolbar > :first-child {
  padding: 0 6px;
  margin-bottom: 10px;
}
#readerToolbar > :last-child {
  padding: 0 8px;
  margin-bottom: -6px;
}

/* Panel layouts */
.colorPanel {
  max-width: 170px;
}
.colorPanel > :first-child {
  margin-bottom: 6px;
}
.colorPanel > :last-child {
  margin-left: 4px;
  margin-right: 4px;
}
.imagePanel > div {
  position: relative;
  margin-bottom: 6px;
}

/* Color panel */
#tonePicker {
  position: relative;
  text-align: center;
}
#schemeSelectContainer {
  position: relative;
  min-width: 94px;
  width: auto;
}
#schemeSelect {
  width: calc(100% + 22px);
}
#schemeSelect:focus {
  border-color: rgba(0, 0, 0, 0.38);
}
/* Image Panel */
.imagePanel .toolbarLabel {
  display: block;
  text-align: center;
}

/* Icons */
#viewReader.toolbarButton::before {
  -webkit-mask-image: url(images/readerIcon.svg);
  mask-image: url(images/readerIcon.svg);
}
#tonePicker > :checked + .colorSwatch::before {
  -webkit-mask-image: url(images/checkMark.svg);
  mask-image: url(images/checkMark.svg);
}
#shapeEnable + label::before {
  -webkit-mask-image: url(images/shapesIcon.svg);
  mask-image: url(images/shapesIcon.svg);
}
#imageEnable + label::before {
  -webkit-mask-image: url(images/imageIcon.svg);
  mask-image: url(images/imageIcon.svg);
}

/* Form controls */
#readerToolbar input[type="radio"] {
  margin: 10px 0 3px 7px;
  position: absolute !important;
  top: 0;
  opacity: 0;
  pointer-events: none;
}
#readerToolbar input[type="checkbox"] {
  pointer-events: none;
}
#readerToolbar input[type="checkbox"] + label:hover,
#readerToolbar input[type="checkbox"]:focus + label {
  background-color: var(--button-hover-color);
}
#readerToolbar input[type="checkbox"]:checked + label {
  background-color: var(--toggled-btn-bg-color);
}
/* Accessibility */
.tabMode #schemeSelectContainer:focus-within,
#readerToolbar input:focus + label {
  outline: 5px auto;
}
